.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 50px;
    background: #F2F2F2;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
}
.footer__block-left a{
    text-decoration: none;
    color: #008CF0;
}