body,html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
input:focus::placeholder,textarea:focus::placeholder{color:transparent}
button {
  cursor: pointer;
}
.nowrap{white-space:nowrap}
.hide{display: none;}


.tm20{margin-top: 20px}
.tm30{margin-top: 30px}
.bold{font-weight: 600}
.grey{color:#888}
.blue{color:#008CF0}
.orange{color:#f52}


/* класс для разработки */
.border{border:1px dashed green}
